body {
  background-color: #212121;
}

#div-root {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

.centered {
    width: 40%;
    margin: 0 auto;
}

.importantTask {
  color: rgb(255, 64, 129);;
}
